<h1>{{titulo}}</h1>

<label> Número 1</label>
<input type="text" class="form-control" style="width: 15%; margin-left:5%" [(ngModel)]="n1">

<label> Número 2</label>
<input type="number" class="form-control" style="width: 15%; margin-left:5%" [(ngModel)]="n2">

<button class = 'btn btn-primary' style="margin: 20px;" (click)="suma()">Sumar</button>

<button class = 'btn btn-primary' style="margin: 20px;" (click)="resta()">Restar</button>

<button class = 'btn btn-primary' style="margin: 20px;" (click)="multiplicacion()">Multiplicar</button>

<button class = 'btn btn-primary' style="margin: 20px;" (click)="division()">Dividir</button>

<p style="margin-left: 1%;"><label>Resultado: {{resultado}}</label></p>