<form>
    <div class="form-group">
    <label> Número 1</label>
    <input type="number" class="form-control" style="width: 15%; margin-left: 5%" name="n1" [(ngModel)]="n1" />
    </div>
    <div class="form-group">
    <label> Número 2</label>
    <input type="number" class="form-control" style="width: 15%; margin-left: 5%" name="n2" [(ngModel)]="n2" />
    </div>
    <button type="button" class="btn btn-primary" style="margin: 20px" (click)="suma()">
        Sumar
    </button>

    <button class="btn btn-primary" style="margin: 20px" (click)="resta()">
        Restar
    </button>

    <button class="btn btn-primary" style="margin: 20px" (click)="multiplicacion()">
        Multiplicar
    </button>

    <button class="btn btn-primary" style="margin: 20px" (click)="division()">
        Dividir
    </button>
</form>